<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rezivure.libre_location">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:exported="false" />
    </application>
</manifest>
